/* import waybar-color.css*/
@import "/home/mathis/.cache/hellwal/waybar-colors.css";



* {
    font-family: Mononoki Nerd Font;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#waybar {
    margin-right: 10px; /* Add space to the right */
    margin-left: 10px;  /* Optional: Add space to the left */
    color: @foreground;
    background-color: transparent;
}

#workspaces button {
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground;
}

#workspaces button.active {
    background-color: @foreground;
    border-radius: 3px;
}

#wireplumber,
#bat,
#tray,
#usage,
#net {

}

#battery,
#memory,
#language,
#network {

    padding: 0 0.5em;
}
sub {
    padding-left: 0.5em; /* Adjust the padding as needed */
   }

/* Volume scroll */
/*

    #pulseaudio-slider: Controls the style of the box around the slider and bar.

    #pulseaudio-slider slider: Controls the style of the slider handle.

    #pulseaudio-slider trough: Controls the style of the part of the bar that has not been filled.

    #pulseaudio-slider highlight: Controls the style of the part of the bar that has been filled.
*/

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @background;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @foreground;
}

#calendar {
    background-color: @background;
    color: @foreground;      
}
